<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css"
      integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn"
      crossorigin="anonymous"
    />
    <title>{%block title%} {% endblock %}</title>
  </head>
  <body class="text-light bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="{{ url_for('main.home') }}" class="navbar-brand"> XD </a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="btn-dropdown-genres"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Generos</a
              >
              <div class="dropdown-menu" aria-labelledby="btn-dropdown-genres">
                <a
                  href="{{ url_for('main.genre', genre_name='Acción') }}"
                  class="dropdown-item"
                  >Acción</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Aventura') }}"
                  class="dropdown-item"
                  >Aventura</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Animación') }}"
                  class="dropdown-item"
                  >Animación</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Comedia') }}"
                  class="dropdown-item"
                  >Comedia</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Crimen') }}"
                  class="dropdown-item"
                  >Crimen</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Documental') }}"
                  class="dropdown-item"
                  >Documentales</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Drama') }}"
                  class="dropdown-item"
                  >Drama</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Familia') }}"
                  class="dropdown-item"
                  >Familiares</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Fantasía') }}"
                  class="dropdown-item"
                  >Fantasía</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Historia') }}"
                  class="dropdown-item"
                  >Historia</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Terror') }}"
                  class="dropdown-item"
                  >Terror</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Música') }}"
                  class="dropdown-item"
                  >Musical</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Misterio') }}"
                  class="dropdown-item"
                  >Misterio</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Romance') }}"
                  class="dropdown-item"
                  >Romance</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Ciencia ficción') }}"
                  class="dropdown-item"
                  >Ciencia ficcion</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Suspense') }}"
                  class="dropdown-item"
                  >Suspenso</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Bélica') }}"
                  class="dropdown-item"
                  >Bélico</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('person.persons') }}">
                Personas
              </a>
            </li>
          </ul>
          {% if current_user.is_anonymous %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}"
                >Iniciar sesión</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}"
                >Registrarse</a
              >
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">{{ current_user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}"
                >Cerrar sesión</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
        <form
          action="{{ url_for('main.search') }}"
          method="POST"
          class="form-inline"
        >
          <div class="input-group">
            <input
              type="text"
              name="search"
              placeholder="Search"
              class="form-control"
            />
            <div class="input-group-append">
              <button class="btn btn-info" type="submit">BUSCAR</button>
            </div>
          </div>
        </form>
      </nav>
    </div>
    {% block content %} {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
