<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css"
      integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn"
      crossorigin="anonymous"
    />
    <!-- BOOTSWATCH CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <title>{%block title%} {% endblock %}</title>
  </head>
  <body class="pb-5">
    <div class="container-fluid sticky-top bg-light">
      <!-- BARRA DE NAVEGACIÓN INICIO -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- LOGO -->
        <a href="{{ url_for('main.home') }}" class="navbar-brand"> XD </a>
        <!-- ICONO PARA PANTALLAS CHICAS -->
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- ITEMS A LA IZQUIERDA DE LA BARRA DE NAVEGACION -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="btn-dropdown-genres"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Peliculas</a
              >
              <div class="dropdown-menu" aria-labelledby="btn-dropdown-genres">
                <a
                  href="{{ url_for('movies.movies_populares', pag=1) }}"
                  class="dropdown-item"
                  >Populares</a
                >
                <a
                  href="{{ url_for('movies.movies_top_rated', pag=1) }}"
                  class="dropdown-item"
                  >Más valorados</a
                >
                <a
                  href="{{ url_for('movies.movies_upcoming', pag=1) }}"
                  class="dropdown-item"
                  >Próximamente</a
                >
              </div>
            </li>
            <!-- ITEM DROPDOWN -->
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="btn-dropdown-genres"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Generos</a
              >
              <div class="dropdown-menu" aria-labelledby="btn-dropdown-genres">
                <a
                  href="{{ url_for('main.genre', genre_name='Acción', pag=1) }}"
                  class="dropdown-item"
                  >Acción</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Aventura', pag=1) }}"
                  class="dropdown-item"
                  >Aventura</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Animación', pag=1) }}"
                  class="dropdown-item"
                  >Animación</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Comedia', pag=1) }}"
                  class="dropdown-item"
                  >Comedia</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Crimen', pag=1) }}"
                  class="dropdown-item"
                  >Crimen</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Documental', pag=1) }}"
                  class="dropdown-item"
                  >Documentales</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Drama', pag=1) }}"
                  class="dropdown-item"
                  >Drama</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Familia', pag=1) }}"
                  class="dropdown-item"
                  >Familiares</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Fantasía', pag=1) }}"
                  class="dropdown-item"
                  >Fantasía</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Historia', pag=1) }}"
                  class="dropdown-item"
                  >Historia</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Terror', pag=1) }}"
                  class="dropdown-item"
                  >Terror</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Música', pag=1) }}"
                  class="dropdown-item"
                  >Musical</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Misterio', pag=1) }}"
                  class="dropdown-item"
                  >Misterio</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Romance', pag=1) }}"
                  class="dropdown-item"
                  >Romance</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Ciencia ficción', pag=1) }}"
                  class="dropdown-item"
                  >Ciencia ficcion</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Suspense', pag=1) }}"
                  class="dropdown-item"
                  >Suspenso</a
                >
                <a
                  href="{{ url_for('main.genre', genre_name='Bélica', pag=1) }}"
                  class="dropdown-item"
                  >Bélico</a
                >
              </div>
            </li>
            <!-- ITEM -->
            </li>
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="btn-dropdown-genres"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Series</a
              >
              <div class="dropdown-menu" aria-labelledby="btn-dropdown-genres">
                <a
                  href="{{ url_for('series.series_populares', pag=1) }}"
                  class="dropdown-item"
                  >Populares</a
                >
                <a
                  href="{{ url_for('series.series_top_rated', pag=1) }}"
                  class="dropdown-item"
                  >Más valorados</a
                >
              </div>
            </li>
            <!-- ITEM -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('person.persons', pag=1) }}">
                Personas
              </a>
            </li>
            <!-- ITEM -->
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/gmbz/frro-soporte-TPI-09">
                Repositorio
              </a>
            </li>
          </ul>
          <!-- ITEMS A LA DERECHA DE LA BARRA DE NAVEGACION -->
          {% if current_user.is_anonymous %}
          <!-- SI EL USUARIO NO ESTÁ LOGUEADO SE MUESTRA ESTO -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}"
                >Iniciar sesión</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}"
                >Registrarse</a
              >
            </li>
          </ul>
          {% else %}
          <!-- SI EL USUARIO ESTÁ LOGUEADO SE MUESTRA ESTO -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="btn-dropdown-user"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ current_user.username }}</a
              >
              <div class="dropdown-menu" aria-labelledby="btn-dropdown-user">
                <a
                  href="{{ url_for('perfil.main') }}"
                  class="dropdown-item"
                  >Perfil</a
                >
                <a
                  href="{{ url_for('auth.logout') }}"
                  class="dropdown-item"
                  >Cerrar sesión</a
                >
              </div>
            </li>
          </ul>
          {% endif %}
          <!-- FORMULARIO DE BUSQUEDA -->
          <form action="{{ url_for('main.search') }}" method="POST" class="form-inline">
            <div class="input-group">
              <input type="text" name="search" placeholder="Search" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">BUSCAR</button>
              </div>
            </div>
          </form>
        </div>
      </nav>
      <!-- FIN BARRA DE NAVEGACION -->
    </div>
    
    {% block content %} {% endblock %}
    
    
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    

  </body>

</html>
