{% extends 'layout.html' %} 
{% block title %} {{ title }} {% endblock %} 
{% block content %}

<div class="container">
  <div class="row mt-4">
    <!-- PORTADA -->
    <div class="col-lg-4 col-md-4 col-12 my-auto">
      <div class="card">
        <img class="card-img-top" src="{{ mov.portada }}" />
        <div class="card-body text-center">
          <a href="{{ mov.pagina_principal }}">Pagina Principal</a>
        </div>
      </div>
    </div>
    <!-- TITULO, GENEROS Y DESCRIPCION -->
    <div class="col-lg-8 col-md-8 col-12">
      <h4>{{ mov.titulo }}<span class="text-muted">({{ mov.fecha_string }})</span></h4>

      <!-- GENEROS DE LA PELICULA -->
      {% for g in mov.generos %}
      {% if loop.last %}
      <h5 class="d-inline-flex">{{ g.nombre }}</h5>
      {% else %}
      <h5 class="d-inline-flex">{{ g.nombre }}</h5>
      <p class="d-inline-flex">&#9900</p>
      {% endif %}
      {% endfor %}

      <!-- DESCRIPCION DE LA PELICULA -->
      <h5>Vista General</h5>
      <p class="text-light">{{ mov.descripcion }}</p>

      <!-- VALORACION DE LA PELICULA -->
      <h5 class="pt-1">Valoracion</h5>
      {% if mov.valoracion < 70 %}
      <div class="progress">
        <div 
          class="progress-bar bg-warning" 
          role="progressbar" 
          style="width: {{ mov.valoracion }}%;" 
          aria-valuenow="{{ mov.valoracion }}" 
          aria-valuemin="0" 
          aria-valuemax="100"
          ><span class="text-dark">{{ mov.valoracion }}%</span></div>
      </div>
      {% else %}
      <div class="progress">
        <div 
          class="progress-bar bg-success" 
          role="progressbar" 
          style="width: {{ mov.valoracion }}%;" 
          aria-valuenow="{{ mov.valoracion }}" 
          aria-valuemin="0" 
          aria-valuemax="100"
          >
            <span class="text-dark">{{ mov.valoracion }}%</span>
        </div>
      </div>
      {% endif %}

      <!-- SI EL USUARIO ESTA LOGUEADO LE DA LA OPCIÓN DE AGREGAR LA PELICULA A SU LISTA -->
      {% if listas %}
      <h5 class="pt-3">Listas</h5>
      {% include 'show_alerts.html' %}
      <div class="dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="btn-dropdown-listas"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Agregar a lista</a
        >
        <div class="dropdown-menu" aria-labelledby="btn-dropdown-listas">
          {% for l in listas %}
          <a
            href="{{ url_for('perfil.add_movie_list', id_movie=mov.id, id_lista=l.id) }}"
            class="dropdown-item"
            >{{ l.nombre }}</a
          >
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  
  <hr>
  
  {% include 'show_reparto.html' %}

  <hr />

  {% if mov.video %}
  <h2>Trailer</h2>
  <!-- TRAILER -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{{mov.video}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  {% endif %}
  <hr />
  {% if lista %}
  <h2>Recomendaciones</h2>
  <!-- LISTADO DE PELICULAS RECOMENDADAS -->

  {% include 'show_movies_list.html' %}

  {% endif %}
  <h2>Comentarios</h2>

  <div class="row row-cols-1 justify-content">
    <div class="col">
      <!-- FORMULARIO PARA NUEVO COMENTARIO -->
      <form action="{{ url_for('main.movie_comment') }}" method="POST">
        <input type="hidden" name="IdMovie" value="{{ mov.id }}" />
        <div class="form-group">
          <textarea class="form-control" name="comentario" rows="3"></textarea>
          {% if current_user.is_anonymous %}
          <button type="submit" class="btn btn-primary" disabled>Publicar</button>
          {% else %}
          <button type="submit" class="btn btn-primary">Publicar</button>
          {% endif %}
        </div>
      </form>
      <!-- LISTADO DE COMENTARIOS -->
      {% for c in com %}
      <div class="media border-top">
        <div class="media-left">
          <img src="../../database/img/icons8-user-64.png" alt="[image3]">
        </div>
        <div class="media-body ml-2">
          <div class="d-flex">
            <h5 class="media-heading">{{ c.user.username }}</h5>
            <small class="text-muted ml-auto">{{ c.fecha }}</small>
          </div>
          <p>{{ c.contenido }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
