{% extends 'layout.html' %} 
{% block title %} Index {% endblock %} 
{% block content %}

<div class="container">
  <div class="row mt-4">
    <!-- PERFIL -->
    <div class="col-4">
      <div class="card bg-dark">
        <img class="card-img"src="{{ p.perfil }}" />
      </div>
    </div>
    <!-- NOMBRE Y BIOGRAFIA -->
    <div class="col-8">
      <h5>{{ p.nombre }}</h5>
      <p class="text-light">{{ p.biografia }}</p>
    </div>
  </div>

  <hr />

  <h2>Interpretación</h2>
  <div class="row row-cols-lg-2 row-cols-1 pt-1">
    <div class="col">
      <h3>Películas</h3>
      <div class="card bg-dark shadow">
        <!-- LISTADO DE INTERPRETACIONES -->
          <ul class="list-group">
            {% for m in p.peliculas %}
            <li class="list-group-item bg-dark">
              <a class="card-link d-inline-flex text-light" href="{{ url_for('main.movie_id', id_movie=m.id) }}">
                <strong>{{ m.titulo }}</strong>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
    
    <div class="col">
      <h3>Series</h3>
      <div class="card bg-dark shadow">
        <!-- LISTADO DE INTERPRETACIONES -->
          <ul class="list-group">
            {% for s in p.series %}
            <li class="list-group-item bg-dark">
              <a class="card-link d-inline-flex text-light" href="{{ url_for('series.serie_details', id_serie=s.id) }}">
                <strong>{{ s.nombre }}</strong>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
