{% extends 'layout.html' %} {% block title %} Index {% endblock %} {% block
content %}

<div class="container">
  <div class="row mt-4">
    <!-- PORTADA -->
    <div class="col-4">
      <class class="card">
        <img src="{{ s.portada }}" />
      </class>
    </div>
    <!-- TITULO, GENEROS Y DESCRIPCION -->
    <div class="col-8">
      <h5>{{ s.nombre }}<span class="text-muted">({{ s.fecha_string }})</span></h5>
      <p class="text-light">{{ s.descripcion }}</p>
    </div>
  </div>
  <hr />
  <!-- SI EL USUARIO ESTA LOGUEADO LE DA LA OPCIÓN DE AGREGAR LA PELICULA A SU LISTA -->
  {% if listas %}
    {% include 'show_alerts.html' %}
    <div class="dropdown">
      <a
        href="#"
        class="nav-link dropdown-toggle"
        id="btn-dropdown-listas"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Agregar a lista</a
      >
      <div class="dropdown-menu" aria-labelledby="btn-dropdown-listas">
        {% for l in listas %}
        <a
          href="{{ url_for('perfil.add_serie_list', id_serie=s.id, id_lista=l.id) }}"
          class="dropdown-item"
          >{{ l.nombre }}</a
        >
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <hr />
  <h2>Trailer</h2>
  <!-- TRAILER -->
  {% if s.video %}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{{s.video}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  {% endif %}

  <hr />
  <h2>Recomendaciones</h2>
  <!-- LISTADO DE SERIES RECOMENDADAS -->

  {% include 'show_series_list.html' %}

</div>

{% endblock %}
