<!-- PAGINACION -->
<div class="mx-auto d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link bg-secondary"
          href="{{ url_for(url, pag=prev) }}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for p in pages %}
      <li class="page-item">
        <a class="page-link bg-secondary" href="{{ url_for(url, pag=p) }}"
          >{{ p }}</a
        >
      </li>
      {% endfor %}
      <li class="page-item">
        <a
          class="page-link bg-secondary"
          href="{{ url_for(url, pag=next) }}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
